.tab {
    height: 50px;

    /*These rules are associated with tab aesthetics.*/
    border-radius: 2px;
    border: solid 3px #6dd400;
    background-color: #000000;

    /*These are responsible for text positioning.*/
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    /*This is for displaying tabs side by side. 
    Should be property of container.*/
    float: left;
}

.tab-text {
    font-family: Charter;
    font-size: larger;
    color: #6dd400;
}