<div class="background">
    <div class="description">
        <h2 id= "title">Software Engineering Blog</h2>
        <br>
        <p>Here, I will be sharing my experiences</p>
        <p>taking the courses INSO4115 & INSO4117.</p>
    </div>

    <div class="background-image"></div>

    <div class="quote">
        <p>The best way to predict the future, 
            <br>
            <span id="text-style-1">is to create it</span>
            <br>
            <br>
            <span id="text-style-2">-Abraham Lincoln</span>
        </p>
    </div>
</div>